<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smithpool v3</title>
</head>
<body>
    

    <center>
        <form action="/" method="post">
            <input type="text" name="name" placeholder="Name">
            <br>
            <input type="number" name="submission" placeholder="Number">
            <br>
            <input type="submit">
        </form>
    </center>
  
    <h1>Submissions</h1>

    <% for (i of submissions){ %>
        <p> <%= i.name + " | " + i.input + " Pogs" %> </p>
    <% } %>

    <h1>Rules</h1>
    <p>Rule 1- Everyone playing must put in a minimum of 1 pog</p>
    <p>Rule 2- If Mr.Smith yells at the class, all pogs in the pool go to him. If else, all pogs get evenly distributed through the class</p>

</body>
</html>